{% load truncate %}

<div>
    <div class='mt-4'>
        <div class='flex items-center'>
            <a href='#' class='text-xl font-semibold'>
                Audiciones 7 | Got Talent España 2023
            </a>
            <button class='flex items-center px-3 py-1 rounded-full hover:bg-cgray-700 ml-2 '>
                <div class='w-6 h-6 mr-2'>
                    <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                        <path fill='white' d="m7 4 12 8-12 8V4z"></path>
                    </svg>
                </div>
                <span class='text-sm font-semibold'>Reproducir todo</span>
            </button>
        </div>
        <div>
            <div class='mt-4 relative select-none'>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/SCPled8dhs4/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCyA-8jERx-JwO8tgUkYqmtU6rb3A" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            7:31
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='Reina del HIELO sorprende mezclando AÉREOS con patinaje | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'Reina del HIELO sorprende mezclando AÉREOS con patinaje | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                24 k vistas • hace 8 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/wprzcvoOdVg/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCvs-Lk8npmU-5JBEArA8Nsx8HB3w" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            7:51
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='La VOZ de este jilguerillo pone la piel de gallina al jurado | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'La VOZ de este jilguerillo pone la piel de gallina al jurado | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                131 k vistas • hace 8 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/daDMRKy3ca4/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLD7Hy5Ux5YeQ-S1ZNFnN-8Vx641pA" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            3:18
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='Contorsionismo y un BALÓN de baloncesto: ¡menudo show! | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'Contorsionismo y un BALÓN de baloncesto: ¡menudo show! | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                25 k vistas • hace 8 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/aQ1rz82iq3U/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLDF4GQsnUa1mRe0rCOUsIvPOvQyPQ" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            3:04
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='Su número de NIVELAZO reivindica el talento de la CALISTENIA | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'Su número de NIVELAZO reivindica el talento de la CALISTENIA | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                19 k vistas • hace 8 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/DwFRDQn4TxI/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCKMIrWTzojW460a5ZVwubqP-dekA" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            3:41
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='Maneja el YOYO como nadie en un número MUY sorprendente | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'Maneja el YOYO como nadie en un número MUY sorprendente | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                31 k vistas • hace 8 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/PRtU_S5nITM/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCCZnan7L_9v6Pg21YwYn0ZSfF9LQ" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            11:32
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='MAGIA que emociona conectando los NÚMEROS y los sueños | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'MAGIA que emociona conectando los NÚMEROS y los sueños | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                96 k vistas • hace 9 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/YUcK0r4_l0Q/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAx4a3RQvx6eIfEzQub36vdgpfpVg" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            8:08
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='Raza, religión, tradición: Todo son RISAS para este cómico | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'Raza, religión, tradición: Todo son RISAS para este cómico | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                58 k vistas • hace 9 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/p9uIBCDhyr0/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLBp6BZKEz8e0MqPyIU1YACIMg2gzg" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            7:38
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='Circo, BALLET y suspensión capilar de otro planeta | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'Circo, BALLET y suspensión capilar de otro planeta | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                20 k vistas • hace 9 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/sHAAdQe7T7A/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLA-T-mtDl6r8Y_amrml0JhNWylu5w" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            9:27
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='CORAL derrocha energía versionando a Mägo de Oz | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'CORAL derrocha energía versionando a Mägo de Oz | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                28 k vistas • hace 9 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/3Y-B5yYDJhA/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLABFUjEJnxFK0QTAfNkY6xrNOtUCw" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            10:40
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='PARTIENDO nueces y avellanas como NUNCA habrías imaginado | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'PARTIENDO nueces y avellanas como NUNCA habrías imaginado | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                27 k vistas • hace 10 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/zeMjMaI_vRA/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLD3U9XQpxkZLVL3z8Cl3RW0rasJ3g" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            6:26
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='Emoción a tope con este INTENSO número de DANZA URBANA | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'Emoción a tope con este INTENSO número de DANZA URBANA | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                10 k vistas • hace 10 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class='group'>
                                <div class='relative w-full h-32 flex items-center justify-center rounded-md overflow-hidden'>
                                    <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                                        </svg>
                                    </button>
                                    <a href="#a">
                                        <img class='object-cover rounded-md' src="https://i.ytimg.com/vi/SC4DbQRpfFw/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCNNuDkYAeq8qsB1CPTBrJcU61Pmw" alt="">
                                        <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                                            7:48
                                        </span>
                                    </a>
                                </div>
                                <div class='relative'>
                                    <a href="#a" class='text-[.9rem] font-semibold w-full pt-2 pr-6' title='MAGIA de instituto y nivelazo: un excelente TRUCO de cartas | Audiciones 7 | Got Talent España 2023'>
                                        <h3 class='flex items-center mt-2 leading-4 pr-6'>
                                            {{ 'MAGIA de instituto y nivelazo: un excelente TRUCO de cartas | Audiciones 7 | Got Talent España 2023'|truncate:40 }}
                                        </h3>
                                        <div class='mt-6'>
                                            <span class='block text-sm text-white/50 leading-4'>
                                                41 k vistas • hace 10 horas
                                            </span>
                                        </div>
                                    </a>
                                    <button @click='alert("c")' class='absolute top-2 right-0 w-6 h-6 shrink-0 hidden group-hover:inline-block'>
                                        <svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                                            <path fill='white' d="M12 16.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5zM10.5 12c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5zm0-6c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5-1.5.67-1.5 1.5z"></path>
                                        </svg>
                                    </button>
                                    <a href="#b" class='absolute bottom-10 left-0 text-sm text-white/50 hover:text-white leading-4'>
                                        Got Talent España
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="swiper_next_{{ index }}" class="bg-cgray-800 rounded-full hover:bg-cgray-600 absolute top-11 -right-5 z-10 p-1.5 cursor-pointer">
                    <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                        <path fill='white' d="m9.4 18.4-.7-.7 5.6-5.6-5.7-5.7.7-.7 6.4 6.4-6.3 6.3z"></path>
                    </svg>
                </div>
                <div id="swiper_prev_{{ index }}" class="bg-cgray-800 rounded-full hover:bg-cgray-600 absolute top-11 -left-5 z-10 p-1.5 cursor-pointer hidden">
                    <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                        <path fill='white' d="M14.96 18.96 8 12l6.96-6.96.71.71L9.41 12l6.25 6.25-.7.71z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>