{% load moment %}
{% load humanize %}
{% load durationformat %}


<div id='channel-videos-list' class='mt-4 ml-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4'>
    {% for video in videos %}
    <div>
        <div class='group relative'>
            <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer' @click='alert("asdfs")'>
                <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                    <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                </svg>
            </button>
            <a href="{% url 'watch' pk=video.pk %}">
                <img class='rounded-lg h-44 w-full object-cover' src="/media/{{ video.thumbnail }}" alt="{{ video.title }}">
                <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                    {{ video.duration|durationformat }}
                </span>
            </a>
        </div>
        <a href="{% url 'watch' pk=video.pk %}">
            <div class='pt-2'>
                <span class='block'>
                    {{ video.title }}
                </span>
                <p class='text-white/50 text-sm'>
                    <span>
                        {{ video.views.count }} vistas • 
                    </span>
                    <span>
                        {{ video.created_at|naturaltime }}
                    </span>
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>