<div @click.away='window.location.reload()' id='modal' class='w-2/5 flex flex-col bg-cgray-800 rounded-lg shadow-lg p-4'>
    <span class="text-white text-lg font-semibold">
        ¿Deseas pausar el historial de reproducciones?
    </span>
    <div class="mt-4 text-white/60">
        <span>
            {{ channel.name }} ({{ channel.user.email }})
        </span>
        <p class="mt-4">
            Si pausas el Historial de reproducciones de YouTube será más difícil encontrar los videos que miraste y es posible que veas menos recomendaciones de videos nuevos en YouTube y en otros productos de Google.
        </p>
    </div>
    <div class="flex justify-end mt-4 items-center">
        <button @click='window.location.reload()' class='text-white hover:bg-cgray-600 px-3.5 py-1.5 rounded-full flex text-sm'>
            Cancelar
        </button>
        <form action="{% url 'history:toggle-pause' %}" method="POST">
            {% csrf_token %}
            <button class='flex items-center px-3 py-1 rounded-full hover:bg-blue-400/30'>
                <span class='text-blue-400 text-sm font-semibold mb-0.5'>
                    Pausar
                </span>
            </button>
        </form>
    </div>
</div>