<div x-show='$store.global.sidebar.show' class="fixed w-60 pl-3 shrink-0 pr-4 divide-y-2 h-content divide-cgray-800 overflow-y-auto bg-cgray-900 z-10 scrollbar hover-scrollbar">
    <div class='py-3'>
        {% include 'components/sidebar-item.html' with href="#" title='Principal' active='True' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M4 21V10.08l8-6.96 8 6.96V21h-6v-6h-4v6H4z"></path></g></svg>' %}
        {% include 'components/sidebar-item.html' with href="#" title='Shorts' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M10 14.65v-5.3L15 12l-5 2.65zm7.77-4.33-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25zm-.23 5.86-8.5 4.5c-1.34.71-3.01.2-3.72-1.14-.71-1.34-.2-3.01 1.14-3.72l2.04-1.08v-1.21l-.69-.28-1.11-.46c-.99-.41-1.65-1.35-1.7-2.41-.05-1.06.52-2.06 1.46-2.56l8.5-4.5c1.34-.71 3.01-.2 3.72 1.14.71 1.34.2 3.01-1.14 3.72L15.5 9.26v1.21l1.8.74c.99.41 1.65 1.35 1.7 2.41.05 1.06-.52 2.06-1.46 2.56z"></path></svg>' %}
        {% include 'components/sidebar-item.html' with href="#" title='Suscripciones' active='False' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M10 18v-6l5 3-5 3zm7-15H7v1h10V3zm3 3H4v1h16V6zm2 3H2v12h20V9zM3 10h18v10H3V10z"></path></svg>' %}
    </div>
    <div class='py-3' x-data='{showMore: false}'>
        {% include 'components/sidebar-item.html' with href="#" title='Biblioteca' active='False' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="m11 7 6 3.5-6 3.5V7zm7 13H4V6H3v15h15v-1zm3-2H6V3h15v15zM7 17h13V4H7v13z"></path></svg>' %}
        {% include 'components/sidebar-item.html' with href="/feed/history/" title='Historial' active='False' icon='<svg height="24" style="pointer-events: none; display: block; width: 100%; height: 100%;" viewBox="0 0 24 24" width="24" focusable="false"><g><path d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM22 12c0 5.51-4.49 10-10 10S2 17.51 2 12h1c0 4.96 4.04 9 9 9s9-4.04 9-9-4.04-9-9-9C8.81 3 5.92 4.64 4.28 7.38c-.11.18-.22.37-.31.56L3.94 8H8v1H1.96V3h1v4.74c.04-.09.07-.17.11-.25.11-.22.23-.42.35-.63C5.22 3.86 8.51 2 12 2c5.51 0 10 4.49 10 10z"></path></g></svg>' %}
        {% include 'components/sidebar-item.html' with href="#" title='Tus videos' active='False' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="m10 8 6 4-6 4V8zm11-5v18H3V3h18zm-1 1H4v16h16V4z"></path></svg>' %}
        {% include 'components/sidebar-item.html' with href="/playlist/" title='Ver más tarde' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path></svg>' %}
        {% include 'components/sidebar-item.html' with href="#" title='Videos que me gustan' active='False' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M18.77,11h-4.23l1.52-4.94C16.38,5.03,15.54,4,14.38,4c-0.58,0-1.14,0.24-1.52,0.65L7,11H3v10h4h1h9.43 c1.06,0,1.98-0.67,2.19-1.61l1.34-6C21.23,12.15,20.18,11,18.77,11z M7,20H4v-8h3V20z M19.98,13.17l-1.34,6 C18.54,19.65,18.03,20,17.43,20H8v-8.61l5.6-6.06C13.79,5.12,14.08,5,14.38,5c0.26,0,0.5,0.11,0.63,0.3 c0.07,0.1,0.15,0.26,0.09,0.47l-1.52,4.94L13.18,12h1.35h4.23c0.41,0,0.8,0.17,1.03,0.46C19.92,12.61,20.05,12.86,19.98,13.17z"></path></svg>' %}
        
        <div x-show='showMore'>
            {% include 'components/sidebar-item.html' with href="#" title='Django' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M22 7H2v1h20V7zm-9 5H2v-1h11v1zm0 4H2v-1h11v1zm2 3v-8l7 4-7 4z"></path></svg>' %}
            {% include 'components/sidebar-item.html' with href="#" title='BSPWM LINUX' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M22 7H2v1h20V7zm-9 5H2v-1h11v1zm0 4H2v-1h11v1zm2 3v-8l7 4-7 4z"></path></svg>' %}
            {% include 'components/sidebar-item.html' with href="#" title='Linux' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M22 7H2v1h20V7zm-9 5H2v-1h11v1zm0 4H2v-1h11v1zm2 3v-8l7 4-7 4z"></path></svg>' %}
            {% include 'components/sidebar-item.html' with href="#" title='CURSO DE REFRIGERACIÓN' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M22 7H2v1h20V7zm-9 5H2v-1h11v1zm0 4H2v-1h11v1zm2 3v-8l7 4-7 4z"></path></svg>' %}
            {% include 'components/sidebar-item.html' with href="#" title='Qt Framework' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M22 7H2v1h20V7zm-9 5H2v-1h11v1zm0 4H2v-1h11v1zm2 3v-8l7 4-7 4z"></path></svg>' %}
            {% include 'components/sidebar-item.html' with href="#" title='BASE DE DATOS' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M22 7H2v1h20V7zm-9 5H2v-1h11v1zm0 4H2v-1h11v1zm2 3v-8l7 4-7 4z"></path></svg>' %}
        </div>

        <div class="mr-3 flex" title='Mostrar más'>
            <button @click='showMore = !showMore' class="flex w-full px-2 py-1 rounded-xl items-center hover:bg-cgray-800">
                <div class='w-8 h-8 mx-1 fill-current'>
                    <svg x-show='!showMore' height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                        <path d="m18 9.28-6.35 6.35-6.37-6.35.72-.71 5.64 5.65 5.65-5.65z"></path>
                    </svg>
                    <svg x-show='showMore' height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                        <path d="M18.4 14.6 12 8.3l-6.4 6.3.8.8L12 9.7l5.6 5.7z"></path>
                    </svg>
                </div>
                <p x-text='showMore ? "Mostrar menos" : "Mostrar más"' class="w-full h-6 font-medium text-zinc-200 text-sm flex items-center ml-5 truncate"></p>
            </button>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class='py-3'>
        <span class='block pl-4 font-semibold text-lg'>
            Suscripciones
        </span>
        <div class='mt-2'>
            {% for suscription in suscriptions %}
            <a href="{% url 'channel:main' user=suscription.channel_username tab='main' %}" class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="{{ suscription.channel_avatar_url }}" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    {{ suscription.channel_fullname }}
                </span>
            </a> 
            {% endfor %}
            <a href='#' class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="https://yt3.ggpht.com/ytc/APkrFKZBKXIgiEcGXpcWQQLRbCtJC9BXyk4p4V_wFLMGvQ=s88-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    cbz project
                </span>
            </a> 
            <a href='#' class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="https://yt3.ggpht.com/L-NzK0iWOow4fGKm0iIvwMkL96FNWZ_Bl2k_xXQdXgfcvBFcKWvk4Q6SWABLD6D5s3NJYKWYXL0=s88-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    Solo Python
                </span>
            </a> 
            <a href='#' class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="https://yt3.ggpht.com/ytc/APkrFKZuDzDIjXWCfB5nvipovKN9b_BnL3mym8XFK_0Yow=s88-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    MasterChef Colombia
                </span>
            </a> 
            <a href='#' class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="https://yt3.ggpht.com/ytc/APkrFKabRxQrWKt9_t3Yzp20ERBrGP3ERIQg3ha82DJh-w=s88-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    ACADENAS
                </span>
            </a> 
            <a href='#' class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="https://yt3.ggpht.com/YvOquorNYMYPk4N1xIt9cwFj6JHypD-WSXriHnyqlK0wB48ZohYSraWMUhK2T5v6OkHJafB91A=s88-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    Dot CSV
                </span>
            </a> 
            <a href='#' class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="https://yt3.ggpht.com/GJtK3zZB-CbPFE5MZM2xbnlt6FVo-9TuiRRvdmypoGhT4fChKXdfyoqdfwI-EAVbSwmSkn-8TQ=s88-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    Ra Ven
                </span>
            </a> 
            <a href='#' class='flex items-center px-2 py-1.5 hover:bg-cgray-800 rounded-lg'>
                <div class='w-7 h-7 rounded-full overflow-hidden'>
                    <img src="https://yt3.ggpht.com/ytc/APkrFKZ2aRWf3oz4iXMnFvX85mNFlEc9hNkOTcwPvwN8=s88-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <span class='block ml-6 text-zinc-200 truncate'>
                    Profesor Retroman
                </span>
            </a>
            <div class="py-1.5 flex" title='Mostrar más'>
                <button class="flex w-full px-2 py-1 rounded-xl items-center hover:bg-cgray-800">
                    <div class='w-8 h-8 mx-1 fill-current'>
                        <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <path d="m18 9.28-6.35 6.35-6.37-6.35.72-.71 5.64 5.65 5.65-5.65z"></path>
                        </svg>
                        {% comment %} <svg x-show='showMore' height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <path d="M18.4 14.6 12 8.3l-6.4 6.3.8.8L12 9.7l5.6 5.7z"></path>
                        </svg> {% endcomment %}
                    </div>
                    <p x-text="false ? 'Mostrar menos' : 'Mostrar 12 más'" class="w-full h-6 font-medium text-zinc-200 text-sm flex items-center ml-5 truncate"></p>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div x-show='!$store.global.sidebar.show' class="fixed flex justify-center w-20 shrink-0 divide-y-2 h-content divide-cgray-900 overflow-y-auto">
    <div class='w-full h-full mr-2 py-3'>
        {% include 'components/sidebar-item.html' with title='Principal' active='False' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M4 21V10.08l8-6.96 8 6.96V21h-6v-6h-4v6H4z"></path></g></svg>' %}
        {% include 'components/sidebar-item.html' with title='Shorts' active='False' icon='<svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M10 14.65v-5.3L15 12l-5 2.65zm7.77-4.33-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25zm-.23 5.86-8.5 4.5c-1.34.71-3.01.2-3.72-1.14-.71-1.34-.2-3.01 1.14-3.72l2.04-1.08v-1.21l-.69-.28-1.11-.46c-.99-.41-1.65-1.35-1.7-2.41-.05-1.06.52-2.06 1.46-2.56l8.5-4.5c1.34-.71 3.01-.2 3.72 1.14.71 1.34.2 3.01-1.14 3.72L15.5 9.26v1.21l1.8.74c.99.41 1.65 1.35 1.7 2.41.05 1.06-.52 2.06-1.46 2.56z"></path></svg>' %}
        {% include 'components/sidebar-item.html' with title='Suscripciones' active='False' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M10 18v-6l5 3-5 3zm7-15H7v1h10V3zm3 3H4v1h16V6zm2 3H2v12h20V9zM3 10h18v10H3V10z"></path></svg>' %}
        {% include 'components/sidebar-item.html' with title='Biblioteca' active='False' icon='<svg enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="m11 7 6 3.5-6 3.5V7zm7 13H4V6H3v15h15v-1zm3-2H6V3h15v15zM7 17h13V4H7v13z"></path></svg>' %}
    </div>
</div>