{% load humanize %}
{% load durationformat %}
{% load truncate %}

<div class="h-full">
    <div class='group relative'>
        <form action="{% url "playlist:add-to-playlist" pk=video.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ request.path }}">
            <button class='absolute right-1 top-0.5 p-0.5 rounded-md bg-black/75 hidden group-hover:inline-block cursor-pointer'>
                <svg height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                    <path fill='white' d="M14.97 16.95 10 13.87V7h2v5.76l4.03 2.49-1.06 1.7zM12 3c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z"></path>
                </svg>
            </button>
        </form>
        <a href="{% url 'watch:watch-video' pk=video.pk %}">
            <img class='rounded-lg h-44 w-full object-cover' src="/media/{{ video.thumbnail }}" alt="{{ video.title }}">
            <span class='absolute right-1 bottom-0.5 px-1.5 leading-6 rounded-md bg-black/75 text-sm select-none'>
                {{ video.duration|durationformat }}
            </span>
        </a>
    </div>
    <div class='pt-2 flex'>
        {% if not 'channel' in request.path %}
        <a href="{% url 'channel:main' user=video.channel.user.username tab='main' %}">
            <div class="w-9 h-9 rounded-full overflow-hidden shrink-0 mr-2">
                <img class="w-full object-cover" src="{{ video.channel.avatar }}" alt="">
            </div>
        </a>
        {% endif %}
        <a href="{% url 'watch:watch-video' pk=video.pk %}">
            <div class="flex flex-col justify-between">
                <h2 class="leading-5 font-semibold" title="{{ video.title }}">
                    {{ video.title|truncate:60 }}
                </h2>
                <div class="mt-1">
                    {% if not 'channel' in request.path %}
                    <a href="{% url 'channel:main' user=video.channel.user.username tab='main' %}" class="leading-3 text-white/50 hover:text-white text-sm">
                        {{ video.channel.name }}
                    </a>
                    {% endif %}
                    <p class='text-white/50 text-sm'>
                        <span class="leading-3">
                            {{ video.views.count }} vistas • 
                        </span>
                        <span class="leading-3">
                            {{ video.created_at|naturaltime }}
                        </span>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>